html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.full {
  height: 100vh; /* cada section ocupa a tela inteira */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#sec1 { background: #111; color: white; }
#sec2 { background: #333; color: white; }
#sec3 { background: #555; color: white; }

html {
  scroll-snap-type: y mandatory;
}

.sec {
  scroll-snap-align: start; 
}
