body {
    margin: 0;
    padding: 0;
    background: url("../Img/Backgroundb20.png") no-repeat center top;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
}

.estrela-solo {
    position: absolute;
    top: 145px;
    right: 25px;
    width: 100px;
    z-index: 2;
}

.bela-coroa {
    position: absolute;
    right: -8px;
    top: 422px; 
    width: 110px;
    z-index: 2;
}

.bela-sentada {
    position: absolute;
    bottom: -43px;
    left: -10px;
    width: 165px;
    z-index: 2;
}

.mirrorball {
    position: absolute;
    bottom: 40px;
    right: -24px;
    width: 160px;
    z-index: 2;
}

.form {
    position: relative;
    z-index: 10;
    width: 60%;
    max-width: 380px;
    margin: 190px auto 0 auto;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px); 
}

label {
    margin-top: 22px;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"],
input[type="file"] {
    margin-top: 8px;
    padding: 14px;
    border-radius: 18px;
    border: 2px solid #000;
    font-size: 16px;
    background: rgba(255,255,255,0.9);
}

input[type="file"] {
    height: 30vh;
    width: 50vw;
}

button {
    margin-top: 40px;
    background: #c0392b;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

#divBtn{
    display: flex;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .bela-coroa {
        width: 98px;
    }

    button{
        margin-top: 40px;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .mirrorball {
        width: 95px;
    }

     .bela-coroa {
        width: 93px;
    }

    .bela-sentada{
        bottom: -28px;
        left: -7px;
        width: 108px;
    }
}
